<!DOCTYPE html>
<html lang="en">

<head>
    {{>headTagLinks}}
</head>

<body>
    {{>navbar}}
    <!-- Main Header -->
    <div class="containter-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="col-md-12 col-12 main_header_left align-items-center">
                    <form class="form-inline">    
                        <input class="form-control mt-4 mb-4 mr-sm-2" id="cityName" style="width: 30rem; padding: 16px;" type="text" placeholder="Search">
                        <button class="btn btn-dark mb-4 mt-4" id="submitBtn" type="submit">Search</button>
                    </form>
                <div class="card" style="width: 40rem;">
                    <img src="https://source.unsplash.com/user/erondu/700x300" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="h2" id="city_name"></p>
                        <h6 id="currDate">29 JUN 2021</h6>
                        <p class="card-text" id="tempStatus"></p>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    {{>footer}}
    <script src="./js/main.js"></script>
</body>

</html>